.form {
  width: 400px;
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0 2px 12px #808080;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 10px;
}
